/*     font-family: 'Inter', sans-serif; */
body {
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  margin: 0px auto !important;
  overflow-x: hidden;
}

.resume_container {
  /* width: 100%; */
  display: flex;
  /* flex-direction: column; */
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.resume_container>img {
  width: 30%;
  height: 30%;
}

.btn_work {
  border: none;
  outline: none;
  color: white;
  background-color: #d9aa1c;
  margin-left: 10px;
  padding: 10px 15px;
  text-decoration: none;
  margin-top: 10px;
}

.work_btn_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.resume_container>a {
  text-decoration: none;
  color: white;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container>input,
textarea {
  padding: 5px;
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
}

.submit-btn {
  padding: 5px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #d9aa1c;
  color: white;
  transition: all .2s linear;
}

.submit-btn:hover {
  background-color: white;
  color: black;
}

/* header on top*/
header {
  position: relative;
  background-color: #7a7a7a;
  width: 100%;
  height: auto;
  padding: 15px 0px;
}

/* pesonal name on left */
.logo-box {
  background: #ec9f05;
  width: 200px;
  height: 100%;
  padding: 0px 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo-box h1 {
  text-align: center;
  color: #e0e0e0 !important;
  font-size: 25px !important;
  font-weight: 500 !important;
  font-family: 'Inter', sans-serif !important;
}

/*navbar*/
nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.list-nav {
  text-decoration: none;
  display: flex;
  justify-content: end;
  gap: 25px;
  padding: 0px 40px;
}

.list-nav li {
  cursor: pointer;
  margin-top: 10px;
  border-bottom: 4px solid #ec9f05;
  width: auto;
  height: auto;
  padding: 2px 6px;
}

.list-nav li a {
  color: #ec9f05;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

/* First section with images header after navbar */
/* added new folder update header images*/
.home {
  position: relative;
  background-image: url('./assets/img/header.jpg');
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* software text and my images on right side in header*/
.home-text-box {
  position: absolute;
  bottom: 20px;
  right: 6%;
  padding: 20px 10px;
  width: 400px;
  height: 80px;
  border-radius: 10px;
  background-color: #ec9f05;
}

.my-images {
  width: 25%;
  height: 100%;
  border-radius: 10px;

}

.home-text-box p {
  float: right;
  margin-top: 18px;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #e0e0e0;
}

/* section for about me/work/contact me   */
.container {
  width: 100%;
  margin: 0px auto;
  margin-top: 50px;
}

/*section grid*/
.grid-box {
  display: flex;
  justify-content: start;
}

/* work section*/
.item1 {
  text-align: right;
  padding-right: 40px;
  width: 20%;
  color: #ec9f05;
  font-size: 40px;
  font-weight: 600;
  grid-column-start: span 1;
  font-family: 'Inter', sans-serif;
}

/* section for 5 and border*/
.item2 {
  width: 70%;
  padding: 10px 50px;
  border-left: 4px solid #ec9f05;
  margin-top: 40px;
}

/*text about me section*/
.item2 p {
  color: #525252;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

/* for 5 box */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  padding: 10px;
}

.sub-item1 {
  position: relative;
  margin-top: 50px;
  grid-column-end: span 2;
}

.work-box {
  cursor: pointer;
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 6px solid #ec9f05;
}

.sub-item2 {
  position: relative;
}

.sub-item3 {
  position: relative;
}

.sub-item4 {
  position: relative;
}

.sub-item5 {
  position: relative;
}

.work-box1 {
  cursor: pointer;
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 6px solid #ec9f05;
}

/* overlay effect on box*/
.blue-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: .5s ease;
  width: 100%;
  background-color: rgba(193, 203, 203, 0.5);
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 50;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* work text section */
.work-box-text {
  position: absolute !important;
  left: 0px;
  margin-top: -150px;
  z-index: 10000000000000000 !important;
  background-color: #ec9f05;
  width: auto;
  height: auto;
  padding: 4px 80px 4px 10px;
}

/* personal text for work section*/
.work-box-text h1 {
  font-size: 30px;
  color: #333333;
  font-weight: 500;
  margin-top: 21px;
  margin-left: 20px;
  font-family: 'Inter', sans-serif;
}

.work-box-text p {
  font-size: 18px;
  color: #333333;
  font-weight: 400;
  margin-top: -20px;
  margin-left: 20px;
  font-family: 'Inter', sans-serif;
}

.sub-container {
  cursor: pointer;
}

.sub-container:hover .blue-overlay {
  opacity: 0;
}

.sub-container:hover .blue-overlay {
  opacity: 0;
}

/* contact  */
footer {
  width: 100%;
  margin: 0px auto;
  margin-top: 50px;
  padding-bottom: 30px;
}

.contact-box ul {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.contact-box li a {
  cursor: pointer;
  font-size: 25px;
  color: #333333 !important;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.dropbtn {
  display: none;
}

.hamburger {
  background: none !important;
  border: none !important;
  color: white;
  font-size: 32px;
}

/* media query  for all screen */
@media screen and (max-width: 1100px) {
  .logo-box {
    background: #d9aa1c;
    width: 250px;
    height: 100%;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .nav {
    display: block !important;
  }

  .list-nav li {
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom: 3px solid #d9aa1c;
    width: auto;
    height: auto;
    padding: 10px 20px;
  }

  .list-nav li a {
    color: #d9aa1c;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
  }

  /* home section */
  .home {
    position: relative;
    background-image: url('./assets/img/header.jpg');
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home-text-box {
    position: absolute;
    bottom: 20px;
    right: 6%;
    padding: 10px 10px;
    width: 280px;
    border-radius: 10px;
    background-color: #d9aa1c;
  }

  .home-text-box p {

    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #2a333c;
  }

  .container {
    width: 100%;
    margin: 0px auto;
  }

  .grid-box {
    display: flex;
    justify-content: space-between;
  }

  .item1 {
    text-align: right;
    margin-top: 30px;
    padding-right: 10px;
    width: 20%;
    color: #d9aa1c;
    font-size: 32px;
    font-weight: 600;
    grid-column-start: span 1;
    font-family: 'Inter', sans-serif;
  }



  .item2 {
    width: 60%;
    padding: 10px 50px;
    border-left: 4px solid #d9aa1c;
  }

  .item2 p {
    color: #404e5c;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
  }

  /* work section */
  .work-box-text {
    position: absolute !important;
    left: 0px;
    margin-top: -120px;
    z-index: 10000000000000000 !important;
    background-color: #d9aa1c;
    width: auto;
    height: auto;
    padding: 4px 40px 4px 10px;
  }

  .work-box-text h1 {
    font-size: 24px;
    color: #333333;
    font-weight: 500;
    margin-top: 21px;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
  }

  .work-box-text p {
    font-size: 12px;
    color: #333333;
    font-weight: 400;
    margin-top: -20px;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
  }

  /* contact  footer*/
  .contact-box ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    margin-top: 40px;
  }

  .contact-box li a {
    cursor: pointer;
    font-size: 25px;
    color: #d9aa1c !important;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }

  .dropbtn {
    display: block;
    position: absolute;
    top: 60px;
    right: 5%;
  }

  .fa-bars {
    color: #d9aa1c;
  }

  .list-nav {
    display: none;
  }

  .show {
    display: block;
  }
}

/* media query for 900px */
@media screen and (max-width: 900px) {

  .container {
    width: 100%;
  }

  .grid-box {
    padding: 0px 30px;
    display: block;
    justify-content: space-between;
  }

  .item1 {
    width: 100%;
    text-align: left;
    padding-bottom: 0px !important;
    color: #d9aa1c;
    font-size: 24;
    font-weight: 600;
    grid-column-start: span 1;
    font-family: 'Inter', sans-serif;
  }

  .item1 p {
    padding-bottom: 10px;
    display: inline;
    border-bottom: 2px solid #d9aa1c;
  }

  .item2 {
    width: 100% !important;
    padding: 0px 0px !important;
    border-left: 0px solid #d9aa1c;
  }

  /* work */

  .item2 p {
    color: #2a333c;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
  }

  .contact-box ul {
    padding: 0px !important;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 60px 0px;
    margin-top: 40px;
  }

  .contact-box li a {
    cursor: pointer;
    font-size: 25px;
    color: #2a333c !important;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
}

/* media query for small */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 0px auto;
  }

  .grid-box {
    display: block;
    padding: 0px 15px;
    justify-content: space-between;
  }

  .item1 {
    width: 100%;
    text-align: left;
    padding-bottom: 0px !important;
    color: #d9aa1c;
    font-size: 24;
    font-weight: 600;
    grid-column-start: span 1;
    font-family: 'Inter', sans-serif;
  }

  .item1 p {
    padding-bottom: 10px;
    display: inline;
    border-bottom: 2px solid #d9aa1c;
  }

  .item2 {
    width: 100% !important;
    padding: 0px 0px !important;
    border-left: 0px solid #d9aa1c;
  }

  .item2 p {
    color: #2a333c;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
  }

  .contact-box ul {
    padding: 0px !important;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 40px 0px;
    margin-top: 40px;
  }

  .contact-box li a {
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    color: #2a333c !important;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    padding: 10px;
  }

  .sub-item1 {
    grid-column-end: span 1;
  }
}